<div class="container">
  <div class="title">
    <h1>あそびかた</h1>
  </div>
  <div class="content">
    <p>ネコのケツをたたきまくってまんぞくさせてあげよう！</p>
    <p>制限時間は10秒。最後に何回たたけたか表示されるよ。</p>
    <p>
      <%= link_to 'レッツケツドラム', play_game_path %>
    </p>
  </div>
</div>
