<div class="container">
  <div class="title">
    <h1>シン・ケツドラマー</h1>
  </div>
  <div class="content">
    <p>ネ　コ　ケ　ツ　を　奏　で　よ</p>
    <p>きみは何回たたけるかな？</p>
    <p>
      <%= link_to 'あそびかた', how_to_play_path %>
    </p>
    <p>
      <%= link_to 'レッツケツドラム', play_game_path %>
    </p>
  </div>
</div>
