<div class="container">
  <div class="title">
    <h1>レッツケツドラム</h1>
  </div>
  <div class="content">
    <button type="button" id="start-button">スタート！</button>
    <p>たたいた回数：
      <span class="counter">0</span>
    </p>
    <%= image_tag 'cat_ass.jpg', class: 'ass', width: 300 %>
    <%= javascript_include_tag 'play_game' %>
  </div>
</div>