<div class="container">
  <div class="title">
    <h1>結果発表〜！</h1>
  </div>
  <div class="content">
    <p>
      まんぞく度：<span class="score"></span>
    </p>
    <%= javascript_include_tag 'result' %>
  </div>
</div>