<h1>結果発表〜！</h1>
<div>まんぞく度：<p class="score"></p></div>
<p>
<%= link_to 'Xでシェア', '#' %>
</p>
<script>
  const count = sessionStorage.getItem('count');
  const score = document.querySelector('.score');
  score.textContent = count
</script>